<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="feb3fa">  <td>18/11/03 15:38:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserSelection.beforeSuite()[pri:0, instance:Module.Flightbooking@797badd3]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/11/03 15:38:43</td>   <td>6234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flightbooking.testcase1()[pri:0, instance:Module.Flightbooking@797badd3]">testcase1</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/03 15:39:06</td>   <td>29861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSelection.afterMethod(org.testng.ITestResult)[pri:0, instance:Module.Flightbooking@797badd3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/11/03 15:39:07</td>   <td>30878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flightbooking.testcase2()[pri:0, instance:Module.Flightbooking@797badd3]">testcase2</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/03 15:39:17</td>   <td>40882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSelection.afterMethod(org.testng.ITestResult)[pri:0, instance:Module.Flightbooking@797badd3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>18/11/03 15:39:18</td>   <td>41570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flightbooking.testcase3()[pri:0, instance:Module.Flightbooking@797badd3]">testcase3</td> 
  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/03 15:39:26</td>   <td>49696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSelection.afterMethod(org.testng.ITestResult)[pri:0, instance:Module.Flightbooking@797badd3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
<tr bgcolor="feb3fa">  <td>18/11/03 15:39:27</td>   <td>51008</td> <td title="&lt;&lt;BrowserSelection.quitDriver()[pri:0, instance:Module.Flightbooking@797badd3]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@146370526</td>   <td></td> </tr>
</table>
